body {
  font-family: Helvetica Neue;
  font-weight: lighter;
}
h2 {
  font-family: Century Gothic;
  margin-bottom: 0;
  font-weight: normal;
}
.button {
  font-size: 0px;
  display: block;
}
#general a {
  background: url("/images/buttons.png") 0px -120px;
  width: 210px;
  height: 100px;
}
#keyed a {
  background: url("/images/buttons.png") 0px -230px;
  width: 210px;
  height: 110px;
}
#starving a {
  background: url("/images/buttons.png") 0px 0px;
  width: 210px;
  height: 120px;
}
#desk a {
  background: url("/images/buttons.png") 0px -350px;
  width: 210px;
  height: 100px;
}
