
!=partial('partials/header')
!=partial('partials/sidebar')
#content
  #general
    h2 A Title
    p Lorem Ipsom etc and someother stuff, we need to get some text in here for design and layout purposes. This is only a test, if it weren't this would be much more clever.
    p Lorem Ipsom etc and someother stuff, we need to get some text in here for design and layout purposes. This is only a test, if it weren't this would be much more clever.
    p Lorem Ipsom etc and someother stuff, we need to get some text in here for design and layout purposes. This is only a test, if it weren't this would be much more clever.
    
    a.button(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=777CMVFZDL5UJ') General Member
  #keyed
    p Lorem Ipsom etc and someother stuff, we need to get some text in here for design and layout purposes. This is only a test, if it weren't this would be much more clever.
    a.button(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=2547E3JKAPFLQ') Keyed Member
  #starving
    p Lorem Ipsom etc and someother stuff, we need to get some text in here for design and layout purposes. This is only a test, if it weren't this would be much more clever.
    a.button(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=748A3BZMYRZVG') Starving Member
  #desk
    p Lorem Ipsom etc and someother stuff, we need to get some text in here for design and layout purposes. This is only a test, if it weren't this would be much more clever.
    a.button(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=4DSEBMXPHCM28') Desk Member